		body{
			background-color: lightgrey;
		}
		.content{
		text-align: center;	
		margin: 0 auto;
		width: 100%;
		}

		.titulo{
			text-align: center;
			
			color: red;
		}
		.form{
			
			color: black;
			font-family: sans-serif;
			text-align: center;
			font-weight: bold;
		}
		.rodape{
			color: blue;
			font-family: sans-serif;
			text-align: right;
		}

